# Domain name or IP address of Minecraft server.
# SkypeCraft is only tested with 127.0.0.1 (localhost).
MINECRAFT_RCON_HOST = '127.0.0.1'

# Same as rcon.port in your server.properties.
MINECRAFT_RCON_PORT = 25575

# Same as rcon.password in your server.properties.
MINECRAFT_RCON_PASSWORD = ''

# Location of server.log. Do not use backslashes (\), use regular slashes (/) instead.
MINECRAFT_SERVER_LOG = 'C:/minecraft_server/server.log'

# Encoding of the file. "cp1251" is for Cyrillic on Windows.
MINECRAFT_SERVER_LOG_ENCODING = 'cp1251'

# Open your group chat, type "/get name" (without any slashes) and hit Enter.
# Then copy everything after "name=" and paste it here.
SKYPE_CHAT_NAME = '#nickname1/$nickname2;f549630fbce3d5c7'
